<%- include('headers'); -%>

<div class="content">
<p>Enter following information to login</p>
<form>
    <label for="username">username:</label><br>
    <input type="text" id="username" name="username"><br

    <label for="password">password:</label><br>
    <input type="text" id="password" name="password"><br

</form>

<%- include('footer'); -%>