
<%- include('header'); -%>

<div class="content">
<p>Enter following information to register</p>
<form>

    <label for="numClient">Client Number:</label><br>
    <input type="text" id="numClient" name="numClient"><br

  <label for="society">Society:</label><br>
  <input type="text" id="society" name="society"><br>

  <label for="contact">Contact:</label><br>
  <input type="text" id="contact" name="contact"><br>

  <label for="adress">Adress:</label><br>
  <input type="text" id="adress" name="adress"><br>

  <label for="zipcode">zipcode:</label><br>
  <input type="text" id="zipcode" name="zipcode"><br>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>

  <label for="phone">Phone:</label><br>
  <input type="text" id="Phone" name="Phone"><br>

  <label for="fax">Fax:</label><br>
  <input type="text" id="fax" name="fax"><br>

  <label for="confirmation">Confirmation:</label><br>
  <input type="text" id="confirmation" name="confirmation"><br>

  <label for="payment">Payment:</label><br>
  <input type="text" id="payment" name="payment"><br>

  <label for="information">Information:</label><br>
  <input type="text" id="information" name="information"><br>

  <label for="maxOutstanding">Max Outstanding:</label><br>
  <input type="text" id="maxOutstandin" name="maxOutstandin"><br>


</form>


<%- include('footer'); -%>